.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-text {
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 45px;
	color: #a65233;
}

.label-text {
  font-family: Roboto;
  font-weight: bold;
  font-size: larger;
  color: #6B6345;
}

.header-brand{
  margin-left: 30px;
  font-family: Lobster, cursive;
  font-style: normal;
  font-weight:bold;
  font-size: 35px;
  line-height: 45px;
  color: #a65233;
}

.homepage-header{
  font-family: Lobster, cursive;
  font-style: normal;
  font-weight:bold;
  line-height: 45px;
  color:#a65233;
}

.homepage-text{
  font-family: Roboto;
  font-style:normal;
  color: #6B6345;
}

.buttonone{
  font-family: 'Nunito' ;
  font-weight: bold;
  color: white;
  background-color: #a65233;
  margin-top: 5px;
  align-items: center;
}

.buttontwo{
  font-family: 'Nunito' ;
  font-weight: bold;
  color:white;
  background-color: gray;
  margin-top: 5px;
  align-items: center;
}


.img-class{
  height: 100px;
  width: 100px;
  background: white;
  border: 0.5px solid #6B6345;
}









